# Editor and OS
.DS_Store
.*.sw[op]
*.iml
.project
.metadata
.envrc
/.idea/
/.vscode/

# Ruby / Bundler
/.bundle/
/Gemfile.local
/Gemfile.lock
/vendor/
/bin/

# PDK / Puppet module build
/pkg/
/convert_report.txt
/update_report.txt

# Test artefacts
/coverage/
/junit/
/log/
/tmp/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/spec/fixtures/litmus_inventory.yaml

# Puppet Litmus / Bolt
/inventory.yaml
/.vagrant/

# YARD docs
/.yardoc/
/.yardwarns
/doc/
